# MongoDB Connection String (Atlas or Local)
# Collections will be prefixed with MONGODB_COLLECTION_PREFIX (default: naminami_)
MONGODB_URI=
MONGODB_COLLECTION_PREFIX=naminami_

# Vercel Blob Read/Write Token (From Vercel dashboard)
BLOB_READ_WRITE_TOKEN=

# App URL
NEXT_PUBLIC_APP_URL=https://ñamiñami.southopenlabs.com

# Admin Security PIN
ADMIN_PIN=1234
